# VSCode
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Compiler Files
dist/
app/

#Yarn NPM lock files
/yarn.lock
/package-lock.json

#Ignore compiered js file
/src/**/*.js
